# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'DockerHubConnection'
    command: 'login'

- task: Docker@2
  inputs:
    containerRegistry: 'DockerHubConnection'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    arguments: '-t "webapp"'

- task: Docker@2
  inputs:
    containerRegistry: 'ACRServiceConnection'
    repository: '7180sandeepacr'
    command: 'push'
    tags: 'v1'


